.menu {
	position: absolute;
	z-index: 10000;
	display: flex;
	flex-direction: column;
	background: var(--card-bg);
	border-radius: 8px;
	border: 1px solid var(--primary-color);
	overflow: hidden;
}

.item {
	display: block;
	padding: 10px 25px;
	width: 100%;
	border: none;
	background: none;
	outline: none;
	color: var(--primary-color);
	cursor: pointer;
}
