.app_green_theme {
	--bg-color: #f4fbfa;
	--inverted-bg-color: #069279;
	--primary-color: #046c1d;
	--secondary-color: #069279;
	--inverted-primary-color: #f4fbfa;
	--inverted-secondary-color: #f4fbfa;
	--skeleton-color: #fff;
	--skeleton-shadow: rgba(0 0 0 / 20%);
	--code-bg: #fff;
	--card-bg: #d8d8da;
}
