.app_green_theme {
	--bg-color: #f4fbfa;
	--inverted-bg-color: #069279;
	--primary-color: #046c1d;
	--secondary-color: #069279;
	--inverted-primary-color: #f4fbfa;
	--inverted-secondary-color: #f4fbfa;

	// redesigned
	--dark-bg-redesigned: #fff3d6;
	--bg-redesigned: #f0c048;
	--light-bg-redesigned: #f2d791;
	--text-redesigned: #1b1311;
	--hint-redesigned: #b8b2a2;
	--cancel-redesigned: #ff5e5e;
	--save-redesigned: #52fa81;
	--icon-redesigned: #4875f0;
	--accent-redesigned: #1d59ff;

	// skeleton
	--skeleton-color: #fff;
	--skeleton-shadow: rgba(0 0 0 / 20%);

	// code
	--code-bg: #fff;

	// card
	--card-bg: #d8d8da;

	// listbox
	--listbox-bg: #d8d8da;
}
