.Icon {
	color: var(--icon-redesigned);
}

// * очищающие стили для кнопки
// * вообще в принципе это можно закинуть в обнуляющие стили
.button {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	background: none;
	cursor: pointer;
}

.button:hover .Icon {
	color: var(--accent-redesigned);
}
